extends ../partials/layout

block headBlock
	link(rel='stylesheet', href='/stylesheets/auth.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')

block contentBlock
	if errorMessage
		.user-message.user-message--error #{errorMessage}
	form.login-form(action='/login', method='POST')
		.form-control
			label(for='email') Email:
			input#email(type='email', name='email', value=oldInput.email)
		.form-control
			label(for='password') Password:
			input#password(type='password', name='password', value=oldInput.password)
		input(type='hidden', value=csrfToken, name='_csrf')
		.grid-container
			.grid-x.grid-padding-x
				button.button.hollow.home-form-submit-button.cell.small-4(type='submit') Login
				.cell.auto
				button
					a.button.hollow.alert.cell.auto(href='/reset') Forgot Password!

