extends ../partials/weather-includes/weather-layout

block headBlock
	link(rel='stylesheet', href='/stylesheets/weather/weather.css')

block navBlock
	include ../partials/nav
	include ../partials/weather-includes/weather-nav


block contentBlock
	.large-text-center
		h1 Weather Index
		p weather page coming soon

block endBlock
	include ../partials/end
