doctype html
html
	head
		title= pageTitle
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css", integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg==", crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/foundation.css')
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
