include ../partials/head
        block headBlock

body
  include ../partials/nav
  block navBlock

  block contentBlock

  include ../partials/end
  include ../partials/scripts
  block scriptBlock
  block endBlock

