
body
  #responsive-menu.top-bar
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu="")
        li.menu-text Connecting Reflections
        li
          a(href='/forms') Forms
        li
          a(href='/logbook') LogBook
        li
          a(href='/incident') Incident
    .top-bar-right
      ul.menu
        li
          a(href='/logout') Logout

  block content

