#responsive-menu.top-bar
	.top-bar-left
		ul.dropdown.menu(data-dropdown-menu="")
			li
				a.menu-text(href='/') Connecting Reflections
			if isAuthenticated
				li
					a(href='/forms')
						i.fas.fa-clipboard-check
						|  Forms
				li
					a(href='/logbook')
						i.fas.fa-book
						|  LogBook
				li
					a(href='/incident')
						i.fas.fa-ambulance
						|  Incident
			li
				a(href='https://w.connectingreflections.ca')
					i.fas.fa-cloud-sun-rain
					|  Weather
	.top-bar-right
		ul.menu
			unless isAuthenticated
				li
					a(href='/login')
						i.fas.fa-sign-in-alt
						|  Login
				li
					a(href='/signup')
						i.fas.fa-user-plus
						|  Register
			else
				li
					ul.dropdown.menu#user-dropdown-menu(data-dropdown-menu)
						li.is-dropdown-submenu-parent
							a(href='#')
								i.fas.fa-user-alt
								|  #{username}
						ul.menu
							li
								a(href='#')
									i.fas.fa-user-cog
									|  Settings
							li
								a(href='#')
									i.fas.fa-folder-open
									|  Profile
						li
							form(action='/logout', method='post')
								input(type='hidden', name='_csrf', value=csrfToken)
								button(type='submit')
									i.fas.fa-sign-out-alt
									|  Logout
