nav.top-bar
	.top-bar-left
		ul.dropdown.menu(data-dropdown-menu='')
			li
				a(href='#') Current
				ul.menu
					li
						a(href='#') Simple
					li
						a(href='#') Detail
					li
						a(href='#') Search
				a(href='#') Forecast
				ul.menu
					li
						a(href='/daily') Daily
					li
						a(href='/hourly') Hourly
				a(href='#') Maps
				li
					a(href='#') Maps
	.top-bar-right
		li
			a(href='/') Home
