extends ../partials/logbook-includes/logbook-layout

block bodycontent
	h4.align-center-middle.text-center New Log Entry
	form(action='/new-entry', method="POST")
		.grid-container
			.grid-x.grid-padding-x
				.large-2.medium-3.cell.form-control
					label.input-group-label Date:
						input(type='date', name='date', placeholder='Date')
				.large-2.medium-3.cell.form-control
					label.input-group-label Time:
						input(type='time', name='time', placeholder='Time', step='1800')
				.large-4.medium-4.cell.form-control
					label.input-group-label Location:
						input(type='text', name='location', placeholder='Location')
				.large-1.medium-2.cell.form-control
					label.input-group-label Hours:
						input(type='number', name='hours', placeholder='Hours')
				.large-3.medium-6.cell.form-control
					label.input-group-label Company:
						input(type='text', name='employer', placeholder='Company')
				.large-3.medium-3.cell.form-control
					label.input-group-label Supervisor:
						input(type='text', name='supervisor', placeholder='Supervisor')
				.large-3.medium-3.cell.form-control
					label.input-group-label Type:
						select(name='typeOfWork')
							option(value='rope') Two Rope
							option(value='fall-protection') Fall Protection
							option(value='travel-restraint') Travel Restraint
							option(value='other') Other
				.large-3.medium-3.cell.form-control
					label.input-group-label Email:
					input(type='email', name='email', placeholder='Supervisor Email', autocomplete=false)
				.large-1.medium-2.cell.form-control
					label.input-group-label ID:
					input(type='text', name='id_num', placeholder='Id#')
				.medium-2.cell.form-control
					label.input-group-label Organization:
						select(name='org')
							option(value='irata') Irata
							option(value='sprat') Sprat
							option(value='') None
				.large-3.cell.form-control.flex-dir-column
					fieldset.fieldset.large-2.cell.form-control
						legend Category:
						.input-group
							label.input-group-label(for='descent') Descent
							input#descent.input-group-field(type='checkbox', value='descending', name='descent')

						.input-group
							label.input-group-label(for='ascent') Ascent
							input#ascent.input-group-field(type='checkbox', value='ascending', name='ascent')

						.input-group
							label.input-group-label(for='v_aid') Vertical Aid
							input#v_aid.input-group-field(type='checkbox', value='vertical_aid', name='v_aid')

						.input-group
							label.input-group-label(for='h_aid') Horizontal Aid
							input#h_aid.input-group-field(type='checkbox', value='horizontal_aid', name='h_aid')

						.input-group
							label.input-group-label(for='deviation') Deviation
							input#deviation.input-group-field(type='checkbox', value='deviation', name='deviation')
						.input-group
							label.input-group-label(for='l_reanchor') Long ReAnchor
							input#l_reanchor.input-group-field(type='checkbox', value='long_reanchor', name='l_reanchor')
						.input-group
							label.input-group-label(for='s_reanchor') Short Reanchor
							input#s_reanchor.input-group-field(type='checkbox', value='short_reanchor', name='s_reanchor')
						.input-group
							label.input-group-label(for='r2r_transfer') Rope to Rope
							input#r2r_transfer.input-group-field(type='checkbox', value='rope_to_rope', name='r2r_transfer')
						.input-group
							label.input-group-label(for='other') Other
							input#other.input-group-field(type='checkbox', value='other', name='other')
				.large-4.cell.form-control
					label.input-group-label(for='details') Details:
					textarea.input-group-field#details(rows='3', name='details', placeholder='Short Description of work done.')
				.large-2.cell.form-control
					label.input-group-label(for='max_height') Max-Height:
					input#max_height.input-group-field(type='String', name='max_height', placeholder='Max Height')
