extends ../partials/logbook-includes/logbook-layout

block bodycontent
	h4.align-center-middle.text-center.margin-vertical-3 New Log Entry
	form(action='', method="POST")
		.grid-container
			.grid-x.grid-padding-x.align-justify.grid-margin-y
				.cell.small-12.large-2.medium-6.input-group
					span.input-group-label Date:
					input.input-group-field(type='text', name='date', placeholder='Date')
				.cell.small-12.large-2.medium-6.input-group
					span.input-group-label Time:
					input#time.input-group-field(type='text', name='time', placeholder='Time', step='1800')
				.cell.small-12.large-4.medium-4.cell.input-group
					span.input-group-label Location:
					input.input-group-field(type='text', name='location', placeholder='Location')
				.cell.small-12.large-3.medium-6.input-group
					span.input-group-label Company:
					input.input-group-field(type='text', name='company', placeholder='Company' autocomplete=false)
				.cell.small-12.large-3.medium-3.input-group
					span.input-group-label Supervisor:
					input.input-group-field(type='text', name='supervisor', placeholder='Supervisor')
				.cell.small-12.large-3.medium-3.input-group
					span.input-group-label Email:
					input.input-group-field(type='email', name='email', placeholder='Supervisor Email', autocomplete=false)
				.cell.small-12.large-2.medium-4.input-group
					span.input-group-label ID:
					input.input-group-field(type='text', name='id_num', placeholder='Id#')
				.cell.small-12.large-3.medium-4.input-group
					span.input-group-label Hours:
					input.input-group-field(type='number', name='hours', placeholder='Hours')
				.cell.large-4.small-12.medium-4.input-group
					span.input-group-label Height:
					input.input-group-field(type='text', name='max_height', placeholder='Max Height')
					span.input-group-label Ft
				.cell.small-12.large-4.medium-6.input-group
					span.input-group-label Type:
					select.input-group-field(name='typeOfWork')
						option(value='rope') Rope Access
						option(value='fall-protection') Fall Protection
						option(value='travel-restraint') Travel Restraint
						option(value='train') Training
						option(value='plan') Planning
				.cell.small-12.medium-6.large-4.input-group
					span.input-group-label Organization:
					select.input-group-field(name='org')
						option(value='sprat') Sprat
						option(value='irata') Irata
						option(value='') None
				fieldset.cell.fieldset.small-12.large-7
					legend Types of Work Used:
					.grid-container.fluid
						.grid-x.align-.grid-margin-x.medium-margin-collapse
							.input-group.small-12.medium-4
								input(id='descent', type='checkbox', name='types', value='Descent')
								label(for='descent') Descent
							.input-group.small-12.medium-4
								input(id='ascent', type='checkbox', name='types', value='Ascent')
								label(for='ascent') Ascent
							.input-group.small-12.medium-4
								input(id='v_aid', type='checkbox', name='types', value='Vertical Aid')
								label(for='v_aid') Vertical Aid
							.input-group.small-12.medium-4
								input(id='h_aid', type='checkbox', name='types', value='Horizontal Aid')
								label(for='h_aid') Horizontal Aid
							.input-group.small-12.medium-4
								input(id='deviation', type='checkbox', name='types', value='Deviation')
								label(for='deviation') Deviation
							.input-group.small-12.medium-4
								input(id='l_reanchor', type='checkbox', name='types', value='Long ReAnchor')
								label(for='l_reanchor') Long ReAnchor
							.input-group.small-12.medium-4
								input(id='s_reanchor', type='checkbox', name='types', value='Short ReAnchor')
								label(for='s_reanchor') Short ReAnchor
							.input-group.small-12.medium-4
								input(id='r2r_transfer', type='checkbox', name='types', value='Rope to Rope')
								label(for='r2r_transfer') Rope to Rope
							.input-group.small-12.medium-4
								input(id='edge', type='checkbox', name='types', value='Edge')
								label(for='edge') Edge Negotiation
							.input-group.small-12.medium-4
								input(id='rescue', type='checkbox', name='types', value='Stand-by Rescue')
								label(for='rescue') Rescue
							.input-group.small-12.medium-4
								input(id='train', type='checkbox', name='types', value='Training')
								label(for='train') Training

				.cell.large-5.small-12
					span.input-group-label Details:
					textarea.input-group-field#details(rows='9', name='details', placeholder='Short Description...' )

			.align-spaced.grid-x.grid-margin-y
				input.hide(name="_csrf", value= csrfToken)
				button.button.warning.hollow.cell.large-3.small-12.shadow(type='reset' href="/edit-entry") Reset Form
				button.button.success.hollow.cell.large-3.small-12.shadow(type='submit') Save Entry
