include ../partials/logbook-includes/logbook-head

	link(rel='stylesheet', href='/stylesheets/logbook/logbook.css')

include ../partials/logbook-includes/logbook-navigation

div.margin-top-0
	h4.text-center #{username}'s Logbook:
		span.small #{totalHours} hours

div.callout.primary.medium-6.float-center.padding-top-1
	if logs.length > 0
		each log in logs
			li= log
	else
		h6.font-bold.text-center No Log Entries!
