doctype html
html
	head
		title #{pageTitle}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/foundation.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/logbook/logbook.css')
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js')

