.top-bar.stack-for-small
	.top-bar-left
		ul.menu
			li
				a.menu-text(href='/logbook') Log Book
			li
				a(href='/logbook/new-entry') New Entry
	.top-bar-right.menu
		ul.menu
			li
				a(href='/') Home