.top-bar
	.top-bar-left.menu
		li.menu-text Log Book
		li
			a(href='#') Logs
		li
				a(href='logbook/new-entry') New
		li
				a(href='logbook/list') List
	.top-bar-right
		li.menu
			a(href='/') Home
